{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">


      {% if showForm %}
        <form action="/tweets" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" value="{{formName}}" />

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li class="tweets">
          <img class="profile-img" src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg">
            <a href="/users/{{tweet.name}}"><strong>{{tweet.name}}</strong></a>
          <br>
            <a href="/tweets/{{tweet.id}}">{{tweet.content}}</a>
        </li>
      {% endfor %}

    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    // Load the socket.io library above, then connect to the server.
    // Because the socket.io server is being run on the same server as your
    // Express instance, you can connect() without any arguments.
    var socket = io.connect();
    socket.on('connect', function(){
      console.log('connected to server via WebSockets!');
    });
    // When 'new_tweet' events are fired, do something with the packaged tweet
    socket.on('newTweet', function (tweet) {
      console.log(tweet);
      alert('Refreshing... check the console...');
      // some logic to add the new tweet to the DOM…
    });
  </script>

{% endblock %}
Raw
